<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="WypozyczeniaWidok">
		<size>947,443</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Pokaz wypozyczenia</label>
			<pos>384,376</pos>
			<size>168,32</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<value>Text</value>
			<pos>912,416</pos>
			<size>8,8</size>
			<handler function="OnTextCtrl1Text" entry="EVT_TEXT" />
		</object>
	</object>
</wxsmith>
